h3.workspot {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.2rem;
  color: #333;
  flex-wrap: wrap;

  margin-bottom: 1.5rem;

  p {
    text-align: center;
  }
}
